body {
    font-family: Arial, sans-serif;
}

.oscar {
    background-color: yellow;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 6.5em;
}

.subtext {
    background-color: orange;
    text-align: center;
}

.list-container {
    background-color: orange;
    display: flex;
    justify-content: space-between;
}

.button-container {
    display: flex;
    justify-content: center;
    margin: 10px 0;
}

.footer {
    text-align: center;
}
